html, body {
    height: calc(100% - 8px);
    font-family: -apple-system, "Helvetica Neue", "Lucida Grande", sans-serif;
    font-weight: 600;
}

.container {
    display: flex;
    height: 100%;
    flex-direction: column;
    margin: 8px;
}

.content {
    margin: 8px 0;
    border-radius: 12px;
    overflow: hidden;
}

.header {
    background-color: #ebeaf5;
    padding: 24px;
}

.title {
    background: linear-gradient(0.35turn, #273859, #4838D5, #187EFF, #3c70ff);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 23px;
    line-height: 98%;
    letter-spacing: -0.2px;
    margin-left: 4px;

    font-family: "Space Grotesk", sans-serif;
}

.capsule {
    background-color: #001941;
    color: white;
    padding: 8px 28px;
    text-align: center;
    display: inline-block;
    font-size: 17px;
    border-radius: 30px;
    margin-top: 12px;

    font-family: "Space Grotesk", sans-serif;
}

.rw-message {
    font-size: 8px;
}

.description {
    background-color: #001941;
    flex: 4;
    padding: 24px;
    color: white;
    font-size: 18px;
}

.obrigado {
    background-color: #002b70;
}

.obrigado > marquee {
    padding: 16px;
    font-size: 18px;
    color: white;
    font-family: "Space Grotesk", sans-serif;
}

.cue {
    background-color: #0043ae;
    flex: 1;
    padding: 24px;
    color: white;
    font-size: 18px;
}

a {
    color: rgb(202, 202, 202);
    mix-blend-mode: luminosity;
    text-decoration-color: rgb(84, 84, 84);
    font-weight: bold;
}

a::after {
    content: " ➔";
}

p {
    margin-top: 0;
    margin-bottom: 12px;
}

hr {
    mix-blend-mode: luminosity;
    border: 1px solid rgb(55, 55, 55);
    margin: 16px 0;
}

#pergunta {
    font-style: italic;
    mix-blend-mode: luminosity;
    color: rgba(200, 200, 200, 1);

    font-size: 18px;

    position: relative;

    animation: fadeIn 1s;
    opacity: 1;
}

@keyframes fadeIn {
    0% {
        color: rgba(200, 200, 200, 0);
        top: 24px;
    }
    100% {
        color: rgba(200, 200, 200, 1);
        top: 0;
    }
}

@keyframes fadeOut {
    0% {
        color: rgba(200, 200, 200, 1);
        top: 0;
    }
    100% {
        color: rgba(200, 200, 200, 0);
        top: 24px;
    }
}

.rw-header {
    background-color: #002b70 !important;
}

.rw-launcher {
    box-shadow: none !important;
    background-color: #002b70 !important;
    margin: 15px !important;
}

.rw-conversation-container .rw-reply {
    font-size: 13.5px;
}

.rw-widget-container p {
    font-size: 13.5px;
}